<div class="edu-breadcrumb-area breadcrumb-style-3">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <h1 class="title">{{directArray.at(directArray.length-1).name | translate}}</h1>
      </div>
      <ul class="edu-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">{{"common.menu.home" | translate}}</a></li>
        <ng-container *ngFor="let each of directArray; let i=index;">
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item {{i == (directArray.length-1)? 'active': ''}}">
            <a routerLink="{{each.url}}">{{each.name | translate}}</a>
          </li>
        </ng-container>
      </ul>

    </div>
  </div>

 <ul class="shape-group">
      <li class="shape-1">
          <span></span>
      </li>
      <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
      <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
      <li class="shape-4">
          <span></span>
      </li>
      <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
  </ul>
</div>
