<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>{{ 'tags.tags.title' | translate }}</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection">
    <!-- list selected -->
    <mat-chip
      *ngFor="let tag of tags"
      (removed)="remove(tag)">
      {{tag.tagName}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <!-- input search -->
    <input
      placeholder="{{ 'tags.newTag.title' | translate }}"
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <!-- list option -->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      <mat-chip>
        {{tag.tagName}}
      </mat-chip>
      
    </mat-option>
  </mat-autocomplete>
</mat-form-field>