<div class="bg-soft-warning text-reset notification-item d-block dropdown-item" *ngFor="let apr of list">
  <div class="d-flex" (click)="goDocument(apr)">
      <!-- <img src="assets/images/users/avatar-6.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic"> -->
      <div class="flex-1">
          <a class="stretched-link">
              <!-- <h6 class="mt-0 mb-1 fs-13 fw-semibold">Kenneth Brown</h6> -->
          </a>
          <div *ngIf="apr.approvalStatus == '14-02'" class="fs-13 text-muted">
              <p class="mb-1">{{
                "header.notifications.approved" | translate
                }}</p>
          </div>
          <div *ngIf="apr.approvalStatus == '14-03'" class="fs-13 text-muted">
            <p class="mb-1">{{
              "header.notifications.rejected" | translate
              }}</p>
        </div>
          <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
              <span> {{apr.insDate | date : 'dd/MM/yyyy hh:mm:ss'}} </span>
          </p>
      </div>
      <!-- <div class="px-2 fs-15">
          <div class="form-check notification-check">
              <input class="form-check-input" type="checkbox" value="" id="messages-notification-check03">
              <label class="form-check-label" for="messages-notification-check03"></label>
          </div>
      </div> -->
  </div>
</div>
