<div class="avatar-xs">
  <button type="button" id="class-notifications-dropdown"
    class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" data-bs-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class='bx bx-bell fs-22'></i>
    <span *ngIf="countNoti>0"
      class="position-absolute topbar-badge fs-10 translate-middle badge rounded-pill bg-danger">{{countNoti}}<span
        class="visually-hidden">unread messages</span></span>
  </button>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="class-notifications-dropdown">
    <div data-simplebar style="max-height: 250px;" class="pe-2">
      <div [class.bg-soft-warning]="!classAnnouncement.announcementLog.key" class="text-reset notification-item d-block dropdown-item" *ngFor="let classAnnouncement of classAnnouncements">
        <div style="width: 100%;" class="d-flex">
          <i class="ri-eye-line align-middle fs-18 text-muted me-2" *ngIf="!classAnnouncement.announcementLog.key"></i>
          <i class="ri-eye-fill align-middle fs-18 text-muted me-2" *ngIf="classAnnouncement.announcementLog.key"></i>
          <div style="width: 90%;" class="flex-1">
            <a (click)="viewDetail(classAnnouncement,'VIEW')" href="javascript:void(0);" class="stretched-link">
              <h6 class="mt-0 mb-1 fs-13 fw-semibold">{{classAnnouncement.title != null ? classAnnouncement.title : ''}}</h6>
            </a>
            <div class="fs-13 text-muted">
              <p class="mb-1" style="
              height: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
          " [innerHTML]="classAnnouncement.content"></p>
            </div>
            <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
              <span><i class="mdi mdi-clock-outline"></i>{{(classAnnouncement.insDate) | date: 'hh:mm dd/MM/yyyy'}}</span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="classAnnouncements.length == 0" class="tab-pane fade p-4 active show" id="alerts-tab" role="tabpanel" aria-labelledby="alerts-tab">
        <div class="w-25 w-sm-50 pt-3 mx-auto">
            <img src="assets/images/svg/bell.svg" class="img-fluid" alt="user-pic">
        </div>
        <div class="text-center pb-5 mt-2">
            <h6 class="fs-18 fw-semibold lh-base">{{ "approver.title.noData" | translate }} </h6>
        </div>
      </div>
      <div *ngIf="classAnnouncements.length >0" class="my-3 text-center">
        <button type="button" (click)="viewAll()" class="btn btn-soft-success waves-effect waves-light">
          {{ 'dashBoard.title.viewAllNotifi' | translate }} <i class="ri-arrow-right-line align-middle"></i></button>
      </div>
    </div>

  </div>
</div>


<!-- ri-eye-fill ri-eye-line-->
