<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>

<!-- <ckeditor [(ngModel)]="ckeditorContent" [config]="{}" [readonly]="false" (change)="onChange($event)"
<div style="padding-top: 100px;"></div>
<ckeditor [(ngModel)]="ckeditorContent" [config]="{}" [readonly]="false" (change)="onChange($event)"
  (editorChange)="onEditorChange($event)"
  (ready)="onReady($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  (contentDom)="onContentDom($event)"
  (fileUploadRequest)="onFileUploadRequest($event)"
  (fileUploadResponse)="onFileUploadResponse($event)"
  (paste)="onPaste($event)"
  (drop)="onDrop($event)"
  debounce="500">
</ckeditor> -->

<!-- <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
  <div class="form-group has-feedback"
        [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
    <ckeditor [(ngModel)]="mycontent"
              #myckeditor="ngModel"
              name="myckeditor"
              required
              debounce="500"
              (paste)="onPaste($event)"
              (change)="onChange($event)">
    </ckeditor>
    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
  </div>
  <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
  </form>
  <div [innerHTML]="mycontent"></div> -->
