<div id="addMenuModal" class="modal fade show" tabindex="-1" style="display: block" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
    <div class="modal-content border-0">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">
          {{ "course0102.listSubjectTitle" | translate }}
        </h4>
        <button type="button" class="btn-close" mat-button mat-dialog-close (click)="onCancel()"></button>
      </div>
      <div class="card-body" style="max-height: 700px; overflow-y: scroll">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header align-items-center">
                <h2 class="card-title mb-0 flex-grow-1">{{iqTest?.iqTestNm}}</h2>
              </div>
            </div>
            <app-ques-lst-area [item]="listQues" [submitInput]="submit" [currentQues]="iqItemCurrent" (onPageChange)="goQuestion($event)"></app-ques-lst-area>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card" *ngFor="let iqItemCurrent of listQues; let index = index;">
              <div class="card-header align-items-center d-flex">
                <div class="text-dark text-break editer-view-img" [innerHTML]="quesContents | safeHtml"></div>
              </div>
              <div class="card-body">
                <div class="live-preview">
                  <div class="row">
                    <div class="col-lg-12 col-md-6">
                      <div *ngIf="iqItemCurrent.quesType == '09-02'">
                        <div class="form-check mb-2" *ngFor="let answer of iqItemCurrent.answerList">
                          <input [readonly]="submit" class="form-check-input" type="checkbox" id="answerCheck{{answer.key}}" name="answerCheck{{answer.key}}"
                            [(ngModel)]="answer.isChoose">
                          <label class="form-check-label" [class.text-success]="submit && answer.answerCorrect" [class.text-danger]="submit && !answer.answerCorrect && answer.isChoose"  for="answerCheck{{answer.key}}">
                            {{answer?.answerContent}}
                          </label>
                        </div>
                      </div>
                      <div *ngIf="iqItemCurrent.quesType=='09-01'">
                        <div class="form-check mb-2">
                            <label for="meassageInput" class="form-label-inline">{{ "course0104.quiz.quizDetail.answer" | translate }}</label>
                          <div class="col-lg-12">
                            <textarea [(ngModel)]="iqItemCurrent.answerCorrectString" name="answerCorrectString" class="form-control"
                              id="meassageInput" rows="3" placeholder="Enter your message"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-confirmDialog key="resultDialog" ></p-confirmDialog>
