/* You can add global styles to this file, and also import other style files */
@import url("./assets/libs/jsvectormap/css/jsvectormap.min.css");
@import url("./assets/libs/swiper/swiper-bundle.min.css");
@import url("./assets/css/bootstrap.min.css");
@import url("./assets/css/icons.min.css");
@import url("./assets/css/app.min.css");
@import url("./assets/css/custom.min.css");
@import url("./assets/libs/dropzone/dropzone.css");

@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");
@import url("../node_modules/primeicons/primeicons.css");


.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

body,
body .p-component {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.9125rem !important;
}

/* @import '~ngx-toastr/toastr'; */

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.75rem 0.6rem !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.75rem 0.6rem !important;
}

.p-datatable .p-datatable-tbody > tr:focus {
  outline: none !important;
}

.p-treetable .p-treetable-tbody > tr:focus {
  outline: none !important;
}

.p-dropdown {
  min-width: 150px !important;
  width: 100% !important;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #a59cd9;
}

.main-content
  .page-content
  .card-header
  .row
  .input-group
  > span.input-group-text {
  background: #f8f9fa;
  color: #495057;
  font-weight: 500;
}

.prime-rounded-pill .p-dropdown {
  border-radius: 50rem !important;
}

.invalid-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #f06548;
}

.form-label-inline {
  height: 38px;
  line-height: 38px;
}

.profile-wid-bg::before {
  opacity: 0.4;
}

.card-height {
  height: 735px;
}

.p-dialog .p-confirm-dialog-reject.p-button {
  color: #000;
  background-color: #f3f6f9;
  border-color: #f3f6f9;

  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.5rem 0.9rem;
  font-size: 0.8125rem;
}

.p-dialog .p-confirm-dialog-accept.p-button {
  color: #fff;
  background-color: #4b38b3;
  border-color: #4b38b3;

  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.5rem 0.9rem;
  font-size: 0.8125rem;
}

.p-datepicker {
  padding: 0px !important;
}

.p-datepicker table td {
  padding: 0px !important;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: #405189 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #495057 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  color: #fff !important;
}

.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year:enabled:hover,
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month:enabled:hover {
  color: #2196f3 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #fff !important;
}

.p-datepicker table td > span.p-highlight {
  color: #fff !important;
  background: #405189 !important;
}

.p-datepicker table td > span {
  width: 2rem !important;
  height: 2rem !important;
  font-size: 14px !important;
}

.navbar-header .p-autocomplete .p-autocomplete-input {
  background-color: #ffffff1a;
  border: none;
  color: #ffffff;
}

.navbar-header .p-autocomplete .p-autocomplete-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.49);
}

.p-calendar {
  width: 100%;
}
.p-calendar input {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--vz-body-color);
  padding: 0.5rem 0.9rem;
}
.p-calendar input:hover {
  border: 1px solid var(--vz-input-border) !important;
}

.p-calendar input:focus {
  color: var(--vz-body-color) !important;
  background-color: var(--vz-input-bg) !important;
  border: 1px solid var(--vz-input-focus-border) !important;
  border-color: var(--vz-input-focus-border) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgb(75 56 179 / 25%) !important;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgb(165 156 217 / 25%);
}

.p-paginator {
  border-color: #fff !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #405189 !important;
  border-color: #405189 !important;
  color: #fff !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #495057 !important;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50% !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50% !important;
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
}

.navbar-header .p-autocomplete .p-autocomplete-input {
  background-color: #ffffff1a;
  border: none;
  color: #ffffff;
}
.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.1rem #a3bfd5;
}

.p-dropdown-label,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  border-color: #a59cd9 !important;
}

.p-datepicker .p-datepicker-header {
  color: #fff !important;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

.form-control-2 {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.breadcrumb-position {
  position: sticky;
  top: 85.5px;
  z-index: 999;
}


/* Responsive tree table */
.visibility-sm {
  display: none;
}

.display-sm {
  display: table-cell;
}


@media screen and (max-width: 39.938em) {
  .visibility-sm {
    display: inline;
  }
  .display-sm {
    display: none;
  }
}

@media (max-width: 575.98px) {
  body,
  body .p-component {
    font-size: 0.7rem !important;
  }
  body {
    font-size: 0.7 rem !important;
  }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}

.nav-tabs .nav-link {
  margin-bottom: -5px;
  padding-bottom: 0.8rem;
}

#personalDetails.disable-form p-calendar span.p-calendar input{
  border: 1px solid #ffffff;
}
#personalDetails.disable-form p-calendar span.p-calendar input:hover{
  border: 1px solid #ffffff !important;
}
#personalDetails.disable-form p-calendar + i{
  display: none;
}
/* sub-menu css */
.fixed-submenu{
  position: fixed !important;
    right: 0;
    width: 23%;
}

.scroll-submenu{
  height: 685px;
  overflow: auto;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

pr-2pc{
  padding-right: 2% !important;
}

@media screen and (max-width: 600px) {

  .hiddenMobile{
    display: none !important;
  }


  }

 /* sub-menu css  */
.btn-showHide{

  position: fixed;
  left: 12%;
  top: 500px;
  width: 3%;
  font-size: 40px;
  color: #405189;
  border-color: #405189;
}

.editer-view-img img{
  max-width: 100%;
}

.editer-view-hidden-img img{
  display: none;
}

td[scope=col] {
  padding-bottom: 3%;
}

.trimText{
  white-space: nowrap;
  position: absolute;
  /* width: 15%; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-5{
  width: 5%  !important;
}

.w-10{
  width: 10%  !important;
}

.w-15{
  width: 15%  !important;
}

.w-20{
  width: 20%  !important;
}

.w-30{
  width: 30%  !important;
}

.w-35{
  width: 35%  !important;
}

.w-40{
  width: 40%  !important;
}

.w-45{
  width: 45%  !important;
}

.w-55{
  width: 55%  !important;
}

.w-60{
  width: 60%  !important;
}

.w-65{
  width: 65%  !important;
}

.w-70{
  width: 70%  !important;
}

.w-80{
  width: 80%  !important;
}

.w-85{
  width: 85%  !important;
}

.w-90{
  width: 90%  !important;
}

.w-95{
  width: 95%  !important;
}

.mr-10{
  margin-right: 10px !important;
}
