<div id="addMenuModal" class="modal fade show" tabindex="-1" style="display: block" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content border-0">
          <div class="card-header align-items-center d-flex">
              <h4 class="card-title mb-0 flex-grow-1">
                  {{ "sys3.userDetail.title" | translate }}
              </h4>
              <!-- <button type="button" class="btn-close" mat-button mat-dialog-close (click)="onCancel()"></button> -->
          </div>

          <div class="card-body" style="max-height: 700px; overflow-y: scroll">
              <form #myForm="ngForm">

                  <div class="row mb-3">
                      <div class="col-lg-3">
                          <label for="fullName" class="form-label-inline">{{
                              "sys3.userDetail.fullName" | translate
                              }}<span class="text-danger"> *</span></label>
                      </div>
                      <div class="col-lg-9">
                          <input type="text" required class="form-control " id="fullName" name="fullName" minlength="4" placeholder="{{'sys3.userDetail.placeholderFullName' | translate}}"
                          [(ngModel)]="tsstUserInfo.fullName" #fullName="ngModel"
                          [ngClass]="{ 'is-invalid': (fullName.invalid && submitted) || (fullName.invalid && (fullName.dirty || fullName.touched))}"
                          />
                          <div class="invalid-error" *ngIf="(fullName.invalid && submitted) || fullName.invalid && (fullName.dirty || fullName.touched)">
                              <span *ngIf="fullName.errors?.['required']">{{ 'message.requiredFullName' | translate
                                  }}</span>
                              <span *ngIf="fullName.errors?.['minlength']">{{'message.requiredMin' |
                                      translate }}</span>
                          </div>
                      </div>
                  </div>

                  <div class="row mb-3">
                      <div class="col-lg-3">
                          <label for="email" class="form-label-inline">{{
                              "sys3.userDetail.email" | translate
                              }}<span class="text-danger"> *</span></label>
                      </div>
                      <div class="col-lg-9">
                          <input type="text" required class="form-control " id="email" name="email" placeholder="{{'sys3.userDetail.placeholderEmailAddress' | translate}}"
                          [(ngModel)]="tsstUserInfo.email" #email="ngModel"
                          [ngClass]="{ 'is-invalid': (email.invalid && submitted) || (email.invalid && (email.dirty || email.touched))}"
                          />
                          <div class="invalid-error" *ngIf="(email.invalid && submitted) || email.invalid && (email.dirty || email.touched)">
                              <span *ngIf="email.errors?.['required']">{{ 'message.requiredEmail' | translate
                                  }}</span>
                              <span *ngIf="email.errors?.['pattern']">{{'message.requiredFormatEmail' | translate
                                  }}</span>
                          </div>
                      </div>
                  </div>

                  <div class="row mb-3">
                      <div class="col-lg-3">
                          <label for="cellPhone" class="form-label-inline">{{
                              "sys3.userDetail.CellPhone" | translate
                              }}<span class="text-danger"> *</span></label>
                      </div>
                      <div class="col-lg-9">
                          <input type="number" class="form-control " id="phone" name="phone" placeholder="{{'sys3.userDetail.placeholderCellPhone' | translate}}"
                          [(ngModel)]="tsstUserInfo.phone" #phone="ngModel"/>
                      </div>
                  </div>

                  <div class="row mb-3" [hidden]="!disable">
                  <!-- <div class="row mb-3"> -->
                      <div class="col-lg-3">
                          <label for="status-user" class="form-label-inline">{{
                              "sys3.userDetail.status" | translate
                              }}</label>
                      </div>

                      <div class="col-lg-9">
                          <span class="form-check form-check-inline">
                              <label class="form-check-label" for="active">
                                  {{"sys.sys0103.status.active" | translate }}
                              </label>
                              <input class="form-check-input" type="radio" name="status" id="active"
                                  (change)="tsstUserInfo.status  = true" [checked]="tsstUserInfo.status == true">
                          </span >
                          <span class="form-check form-check-inline">
                              <label class="form-check-label" for="disable">
                                  {{"sys.sys0103.status.blocked" | translate }}
                              </label>
                              <input class="form-check-input" type="radio" name="status" id="disable"
                                  (change)="tsstUserInfo.status  = false" [checked]="tsstUserInfo.status == false">
                          </span>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <!-- <button type="button" class="btn btn-light" mat-button mat-dialog-close (click)="onCancel()">
                  {{ "sys3.userDetail.buttonCancel" | translate }}
              </button> -->
              <button type="button" class="btn btn-primary" (click)="onSave(myForm.invalid)">
                  {{ "sys3.userDetail.buttonSave" | translate }}
              </button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
