<div *ngIf="!mat_data.student" class="page-content">
  <div class="container-fluid">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <bar-my-course></bar-my-course>

    <div class="row  justify-content-center">
      <div class="col-xxl-8 col-xl-10 col-sm-12">
        <div class="card">
          <div class="card-header align-items-center">
            <div class="row">
              <div class="col-lg-10">
                <h2 class="card-title mb-0 flex-grow-1">{{quiz?.quizNm}}</h2>
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="buttonSubmit()"
                  *ngIf="!submit">
                  {{ "button.submitQuiz.title" | translate }}
                </button>
                <button type="button" class="btn btn-success waves-effect waves-light" (click)="doAgain()"
                  *ngIf="submit">
                  {{ "course0104.quiz.quizDetail.doAgain" | translate }}
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <h3>{{quiz?.quizContent}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-xxl-8 col-xl-10 col-sm-12">
        <div class="card">
          <div class="progress bg-soft-primary progress-xl" *ngIf="!submit" style="height: 40px;">
            <div class="progress-bar bg-success bg-gradient" role="progressbar" [attr.aria-valuenow]="percent"
              aria-valuemin="0" aria-valuemax="100" [style.width]="percent + '%'">
              <h1 style="color: white; margin: auto;">{{(hour | number :'2.0') + ":" + (minute| number :'2.0') + ":" +
                (second | number : '2.0') }}</h1>
            </div>
          </div>

          <app-ques-lst-area [item]="listQuizItem" [submitInput]="submit" [currentQues]="quizItemCurrent"
            (onPageChange)="goQuestion($event)"></app-ques-lst-area>

          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">{{(quizItemIndexCurrent+1)+':'}}{{quizItemCurrent?.quizItemContent}}
            </h4>
          </div>

          <div class="card-body">
            <div class="live-preview">
              <div class="row">
                <div class="col-lg-12 col-md-6">
                  <div *ngIf="quizItemCurrent.quizItemType=='08-01'">
                    <div class="form-check mb-2" *ngFor="let answer of quizItemCurrent.listAnswer">
                      <input (change)="chageAnswer0801(quizItemCurrent)" [readonly]="submit" class="form-check-input"
                        type="checkbox" id="answerCheck{{answer.key}}" name="answerCheck{{answer.key}}"
                        [(ngModel)]="answer.isChoose">
                      <label class="form-check-label" [class.text-success]="submit && answer.isAnswerCorrect"
                        [class.text-danger]="submit && !answer.isAnswerCorrect && answer.isChoose"
                        for="answerCheck{{answer.key}}">
                        {{answer?.answerContent}}
                      </label>
                    </div>
                  </div>
                  <div *ngIf="quizItemCurrent.quizItemType=='08-02'">
                    <div class="form-check mb-2">
                      <label for="meassageInput" class="form-label-inline">{{ "course0104.quiz.quizDetail.answer" |
                        translate
                        }}</label>
                      <div class="col-lg-12">
                        <textarea [(ngModel)]="quizItemCurrent.answerCorrectString" name="answerCorrectString"
                          class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-lg-4">
                <button *ngIf="quizItemIndexCurrent > 0" type="button" class="btn btn-success waves-effect waves-light" (click)="goQuestion(quizItemIndexCurrent-1)">
                  {{ "course0104.quiz.quizDetail.prev" | translate }}
                </button>
              </div>
              <div class="col-lg-4">
                <div *ngIf="submit">
                  <div class="form-check mb-2">
                    <label for="meassageInput" class="form-label-inline">
                      {{ "course0104.quiz.quizDetail.result" | translate }}
                      {{totalCorrectAnswer}}/{{listQuizItem.length}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 justify-content-end" style="display: flow-root; padding-left: 294px;">
                <button class="justify-content-end" *ngIf="quizItemIndexCurrent < listQuizItem.length" type="button" class="btn btn-success waves-effect waves-light" (click)="goQuestion(quizItemIndexCurrent+1)">
                  {{ "course0104.quiz.quizDetail.next" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-confirmDialog key="resultDialogQuiz"></p-confirmDialog>

<div *ngIf="mat_data.student" id="addMenuModal" class="modal fade show" tabindex="-1" style="display: block" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
    <div class="modal-content border-0">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">
          {{ mat_data.student.fullName }}
        </h4>
        <button type="button" class="btn-close" mat-button mat-dialog-close (click)="onCancel()"></button>
      </div>
      <div class="card-body" style="max-height: 700px; overflow-y: scroll">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header align-items-center">
                <h2 class="card-title mb-0 flex-grow-1">{{quiz?.quizNm}}</h2>
              </div>

              <div class="card-body">
                <h3>{{quiz?.quizContent}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">

          <div class="col-xxl-12 col-xl-12 col-sm-12">
            <div class="card">
              <div class="progress bg-soft-primary progress-xl" *ngIf="!submit" style="height: 40px;">
                <div class="progress-bar bg-success bg-gradient" role="progressbar" [attr.aria-valuenow]="percent"
                  aria-valuemin="0" aria-valuemax="100" [style.width]="percent + '%'">
                  <h1 style="color: white; margin: auto;">{{(hour | number :'2.0') + ":" + (minute| number :'2.0') +
                    ":" + (second | number : '2.0') }}</h1>
                </div>
              </div>

              <app-ques-lst-area [item]="listQuizItem" [submitInput]="submit" [currentQues]="quizItemCurrent"
                (onPageChange)="goQuestion($event)"></app-ques-lst-area>

              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                  {{(quizItemIndexCurrent+1)+':'}}{{quizItemCurrent?.quizItemContent}}</h4>
              </div>

              <div class="card-body">
                <div class="live-preview">
                  <div class="row">
                    <div class="col-lg-12 col-md-6">
                      <div *ngIf="quizItemCurrent.quizItemType=='08-01'">
                        <div class="form-check mb-2" *ngFor="let answer of quizItemCurrent.listAnswer">
                          <input (change)="chageAnswer0801(quizItemCurrent)" [readonly]="submit"
                            class="form-check-input" type="checkbox" id="answerCheck{{answer.key}}"
                            name="answerCheck{{answer.key}}" [(ngModel)]="answer.isChoose">
                          <label class="form-check-label" [class.text-success]="submit && answer.isAnswerCorrect"
                            [class.text-danger]="submit && !answer.isAnswerCorrect && answer.isChoose"
                            for="answerCheck{{answer.key}}">
                            {{answer?.answerContent}}
                          </label>
                        </div>
                      </div>
                      <div *ngIf="quizItemCurrent.quizItemType=='08-02'">
                        <div class="form-check mb-2">
                          <label for="meassageInput" class="form-label-inline">{{
                            "course0104.quiz.quizDetail.answer" |
                            translate
                            }}</label>
                          <div class="col-lg-12">
                            <textarea [(ngModel)]="quizItemCurrent.answerCorrectString" name="answerCorrectString"
                              class="form-control" id="meassageInput" rows="3"
                              placeholder="Enter your message"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="row justify-content-end text-center" style="align-items: left;">
                  <div class="col-lg-10">
                    <nav aria-label="...">
                      <ul class="pagination">
                        <li class="page-item" [class.disabled]="quizItemIndexCurrent == 0">
                          <a class="page-link" href="javascript:void(0)" (click)="goQuestion(quizItemIndexCurrent-1)">←
                            {{
                            "course0104.quiz.quizDetail.prev" | translate }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="quizItemIndexCurrent == listQuizItem.length - 1">
                          <a class="page-link" href="javascript:void(0)" (click)="goQuestion(quizItemIndexCurrent+1)">{{
                            "course0104.quiz.quizDetail.next" | translate }} →</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col-lg-2">
                    <div *ngIf="submit">
                      <div class="form-check mb-2">
                        <label for="meassageInput" class="form-label-inline">
                          {{ "course0104.quiz.quizDetail.result" | translate }}
                          {{totalCorrectAnswer}}/{{listQuizItem.length}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
