<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <app-progress-bar></app-progress-bar>
        <!-- end page title -->

        <div class="row justify-content-center">
          <!--Start Left Content -->
          <!-- <i  *ngIf="showHideIcon" #iconShowHide (click)="handleShowHide()"class="ri-arrow-left-s-fill btn-showHide hiddenMobile"></i >
            <div  class="col-lg-3 hiddenMobile" [style.display]="showHide"  >
             <app-sub-menu #subMenuTag [courseId]="this.courseId " [subjectId]="subjectId" ></app-sub-menu>
            </div> -->
          <!--End Left Content -->
          <div class="col-xxl-9">
            <app-approval-history (changeViewType)="getDataByViewType($event)"></app-approval-history>
          </div>
          <div class="col-xxl-9">
            <div class="row">
              <div class="col-xxl-12">
                  <div class="card ">
                      <ul class="nav nav-tabs nav-border-top nav-border-top-primary" role="tablist" style="border-bottom: none;">
                          <li class="nav-item">
                              <a id="tabChapter1" (click)="changeTab(1)" class="nav-link active" [class.text-danger]="subject.editSubjectForm" data-bs-toggle="tab" href="#MENU_SUBJECT_FORM" role="tab">{{'course.tab.subject.form.title' | translate}}</a>
                          </li>
                          <li class="nav-item">
                              <a id="tabChapter3" (click)="changeTab(2)" class="nav-link" [class.text-danger]="subject.editListChapter" data-bs-toggle="tab" href="#MENU_LIST_CHAPTER_MGT" role="tab">{{'course.tab.chapter.list.title' | translate}}</a>
                          </li>
                          <li class="nav-item">
                            <a id="tabChapter2" (click)="changeTab(3)" class="nav-link" [class.text-danger]="subject.editStand" data-bs-toggle="tab" href="#MENU_STANDARD_MGT" role="tab">{{'course.tab.standard.title' | translate}}</a>
                        </li>
                          <li class="nav-item">
                            <a id="tabChapter4" (click)="changeTab(4)" class="nav-link" data-bs-toggle="tab" href="#MENU_SUBJECT_SCHEDULE" role="tab">{{'course.tab.subjectSchedule.tab.title' | translate}}</a>
                        </li>
                      </ul>
                  </div>
              </div>
            </div>

            <div class="row ">


              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="onSaveDraft()">
                  {{ "button.save.draft.title" | translate }}
                </button>
                <button type="button" class="btn btn-primary" (click)="onSaveApproval()">
                  {{ "course0102.subjectDetail.buttonSave" | translate }}
                </button>
              </div> -->

              <div class="col-lg-12">
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="MENU_SUBJECT_FORM" role="tabpanel">
                        <app-subject-form #subjectForm></app-subject-form>
                    </div>
                    <div class="tab-pane" id="MENU_LIST_CHAPTER_MGT" role="tabpanel" >
                        <app-list-chapter #chapterList ></app-list-chapter>
                    </div>
                    <div class="tab-pane" id="MENU_STANDARD_MGT" role="tabpanel" >
                        <app-standard #standard ></app-standard>
                    </div>
                    <div class="tab-pane" id="MENU_SUBJECT_SCHEDULE" role="tabpanel" >
                      <app-subject-schedule #subjectSchedule ></app-subject-schedule>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--end col-->
        </div>
        <!--end row-->


    </div>
    <!-- container-fluid -->
</div>

<p-confirmDialog >
</p-confirmDialog>
