<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card ">
      <div class="card-header ">
        <div class="row">
          <div class="col-xxl-2 col-md-2">
            <h2 class="card-title mb-0 flex-grow-1">{{'common.search' | translate }}</h2>
          </div>
          <div class="col-xxl-3 col-md-4">
            <div class="input-group">
              <span class="input-group-text ">{{'sys.roleName' | translate }}</span>
              <input type="text" class="form-control" [(ngModel)]="pageRequest.roleNm" (keyup.enter)="onSearch()" name="roleNm" id="roleNm" placeholder="{{'sys.roleName' | translate}}">
            </div>
          </div>
          <!--end col-->

          <button (click)="onSearch()" type="button" class="btn btn-primary position-relative p-0 avatar-ssm rounded-circle ms-lg-2">
            <i class="ri-search-line"></i>
          </button>
          <button (click)="onSearchReset()" type="button" class="btn btn-primary position-relative p-0 avatar-ssm rounded-circle ms-lg-2">
            <i class="ri-refresh-line"></i>
          </button>

        </div>
        <!--end row-->
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h2 class="card-title mb-0 flex-grow-1">{{'sys0102.tab.role.title' | translate}}</h2>
        <div class="flex-shrink-0">
          <div class="d-flex flex-wrap gap-2" style="justify-content: flex-end;">
            <button (click)="add()" type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light">
              <i class="ri-file-add-line label-icon align-middle fs-16 ms-2"></i>
              {{'button.add.title' | translate}}</button>

            <button (click)="save()" type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light rounded-pill"><i
                class="ri-save-fill label-icon align-middle rounded-pill fs-16 ms-2"></i> {{'button.save.title' | translate}}</button>
            <button (click)="onDelete()" type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light rounded-pill">
              <i class="bx bx-trash label-icon align-middle rounded-pill fs-16 ms-2"></i> {{'button.delete.title' | translate}}</button>
          </div>
        </div>
      </div><!-- end card header -->

      <div class="card-body">
        <div class="row">
          <div class="col-xl-12 ">
            <p-table [value]="datas" responsiveLayout="scroll" [(selection)]="selectedRow" selectionMode="single" dataKey="roleId" [paginator]="true" [rowHover]="true" [rows]="10"
              [resizableColumns]="true" styleClass="p-datatable-striped">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 5%;" class="text-center">#</th>
                  <th style="width: 10%;">{{ 'sys.state' | translate }}</th>
                  <th style="width: 15%;">{{ 'sys.roleId' | translate }}</th>
                  <th>{{ 'sys.roleName' | translate }}</th>
                  <th style="width: 10%;">{{ 'sys.active' | translate }}</th>
                  <th style="width: 25%;">{{ 'sys.note' | translate }}</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData">
                  <td class="text-center">
                    {{rowIndex+1}}
                  </td>
                  <td *ngIf='rowData.state'>
                    {{'sys.modify'| translate}}
                  </td>
                  <td *ngIf='!rowData.state'>

                  </td>
                  <td>
                    {{rowData['roleId']}}
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" class="form-control" (change)="changedRow(rowIndex)" [(ngModel)]="rowData.roleNm">
                      </ng-template>
                      <ng-template pTemplate="output">
                        <p class="trimText" >{{rowData.roleNm}}</p>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <!-- <input class="form-check-input" type="checkbox" (click)="updateActive(rowIndex)" [(ngModel)]="rowData.useYn" value='Y'> -->
                    <input class="form-check-input" type="checkbox" value="true" [checked]="rowData.checked" (change)="updateActive(rowIndex)">
                    <!-- <p-checkbox value="Y" (click)="updateActive(rowIndex)" [(ngModel)]="rowData.useYn"></p-checkbox> -->
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" class="form-control" (change)="changedRow(rowIndex)" [(ngModel)]="rowData.description">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.description}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    <div class="text-center">{{'table.noContentToDisplay' | translate}}</div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
