<!-- <div class="page-content">
  <div class="container-fluid">

    <app-breadcrumb></app-breadcrumb> -->

    <!-- end page title -->

    <div class="row justify-content-center">
      <div class="col-xxl-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-xxl-2 col-md-2">
                <h2 class="card-title mb-0 flex-grow-1">
                  {{ "sys3.search" | translate }}
                </h2>
              </div>
              <div class="col-xxl-4  col-md-4">
                <div class="input-group">
                  <span class="input-group-text">{{"course0102.columns.subjectNm" | translate}}</span>
                  <input type="text" class="form-control" placeholder="{{'course0102.columns.subjectNm' | translate}}"
                    [(ngModel)]="pageRequest.searchText" (keyup.enter)="searchData()" />
                </div>
              </div>
              <!--end col-->

              <div class="col-xxl-4  col-md-4">
                <div class="input-group">
                  <span class="input-group-text">{{
                    "sys.sys0101.status" | translate
                    }}</span>
                  <p-dropdown [options]="listStatus" [(ngModel)]="pageRequest.searchStatus" (onChange)="searchData()"
                    appendTo="body" optionLabel="label" optionValue="value" name="status">
                  </p-dropdown>
                </div>
              </div>

                <!-- Buttons Group -->
                <button type="button" class="btn btn-primary position-relative p-0 avatar-ssm rounded-circle ms-lg-2"
                  (click)="searchData()">
                  <i class="ri-search-line"></i>
                </button>
                <button type="button" class="btn btn-primary position-relative p-0 avatar-ssm rounded-circle ms-lg-2"
                  (click)="onSearchReset()">
                  <i class="ri-refresh-line"></i>
                </button>


            </div>
            <!--end row-->
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xxl-12">
        <div class="card">
          <div class="card-header align-items-center d-flex">
            <h2 class="card-title mb-0 flex-grow-1">
              {{ "course0102.listSubjectTitle" | translate }}
            </h2>
            <div class="flex-shrink-0">
              <div class="d-flex flex-wrap gap-2" style="justify-content: flex-end">
                <button type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light" [hidden]="checkView"
                (click)="chooseSubjectBtn()">
                <i class="ri-file-add-line label-icon align-middle fs-16 ms-2"></i>
                {{ "button.chooseSubject.title" | translate }}
              </button>
                <!-- <button type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light" [hidden]="checkView"
                  (click)="cloneSubjectBtn()">
                  <i class="ri-file-add-line label-icon align-middle fs-16 ms-2"></i>
                  {{ "button.cloneSubject.title" | translate }}
                </button> -->
                <button type="button" class="btn rounded-pill btn-primary btn-label waves-effect right waves-light"
                  (click)="showAddForm()" [hidden]="checkView">
                  <i class="ri-file-add-line label-icon align-middle fs-16 ms-2"></i>
                  {{ "button.add.title" | translate }}
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-xl-12 mb-3">
                <div class="table-responsive mt-4 mt-xl-0">
                  <table class="table table-hover table-striped align-middle table-nowrap mb-0">
                    <thead class="">
                      <tr>
                        <th scope="col" class="w-5">
                          {{ "course0102.columns.stt" | translate }}
                        </th>
                        <th scope="col" class="w-30">
                          {{ "course0102.columns.subjectNm" | translate }}
                        </th>
                        <th scope="col" class="w-10">
                          {{ "course0102.columns.subjectGoal" | translate }}
                        </th>
                        <th scope="col" class="w-10" style="text-align: center;">
                          {{ "course0102.columns.status" | translate }}
                        </th>
                        <th scope="col" class="w-10" style="text-align: center;">
                          {{ "course0102.columns.approval" | translate }}
                        </th>
                        <th scope="col" class="w-10" style="text-align: center;">
                          {{ "course0102.columns.action" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let subject of couSubjectLst; index as idx; count as total" (click)="showUpdateForm(subject.key, $event)" style="cursor: pointer;">
                        <td scope="col trimText">{{subject.index}}</td>
                        <td scope="col">
                          <p class="trimText w-30" >{{subject.subjectNm != null ? subject.subjectNm : ''}}</p>
                        </td>
                        <td scope="col">
                          <p class="trimText w-10" >{{subject.subjectGoal != null ? subject.subjectGoal : ''}}</p>
                        </td>

                        <td scope="col" *ngIf="subject.status == true" style="text-align: center;">
                          <p class="trimText w-10">
                            <i class="ri-checkbox-circle-line align-middle text-success justify-content-center"></i>{{'sys.sys0103.status.active' | translate}}
                          </p>
                        </td>
                        <td scope="col" *ngIf="subject.status == false"  style="text-align: center;">
                          <p class="trimText w-10">
                            <i class="ri-close-circle-line align-middle text-danger"></i>{{'sys.sys0103.status.blocked' | translate}}
                          </p>
                        </td>

                        <td scope="col" *ngIf="subject.approveHistory.approvalStatus == APPROVAL_STATUS_APPROVAL_COMM_CD" style="text-align: center;">
                          <p class="trimText w-10">
                            <i class="ri-checkbox-circle-line align-middle text-success"></i>{{ getLabelApproval(APPROVAL_STATUS_APPROVAL_COMM_CD) }}
                          </p>
                        </td>
                        <td scope="col" *ngIf="subject.approveHistory.approvalStatus == APPROVAL_STATUS_REJECT_COMM_CD" style="text-align: center;">
                          <p class="trimText w-10" >
                            <i class="ri-close-circle-line align-middle text-danger"></i>{{ getLabelApproval(APPROVAL_STATUS_REJECT_COMM_CD) }}
                          </p>
                        </td>

                        <td scope="col" *ngIf="subject.approveHistory.approvalStatus == APPROVAL_STATUS_PENDING_COMM_CD" style="text-align: center;">
                          <p class="trimText w-10" >
                            <i class="ri-indeterminate-circle-line align-middle text-warning"></i>{{ getLabelApproval(APPROVAL_STATUS_PENDING_COMM_CD) }}
                          </p>
                        </td>

                        <td scope="col" *ngIf="subject.documentStatus == DOCUMENT_STATUS_DRAFT" style="text-align: center;">
                          <p class="trimText w-10">
                            <i class="ri-indeterminate-circle-line align-middle text-warning"></i>Nháp
                          </p>
                        </td>

                        <td>
                          <div class="hstack gap-3 fs-15 justify-content-center">
                            <!-- <a href="javascript:void(0);" class="link-primary" tooltipPosition="top"
                              pTooltip="{{ 'button.view.subject.title' | translate }}" (click)="showUpdateForm(subject.key, $event)">
                              <i class="ri-eye-line fs-4 fs-4"></i></a> -->
                            <a *ngIf="subject.documentStatus != 'APPROVAL' " href="javascript:void(0);" class="link-primary" tooltipPosition="top" pTooltip="{{
                                                              'button.delete.title' | translate
                                                              }}" (click)="delete(subject, $event)">
                              <i class="ri-delete-bin-6-line fs-4"></i></a>
                          </div>
                        </td>
                      </tr>


                      <tr *ngIf="couSubjectLst.length == 0">
                        <td colspan="10">
                          <div class="text-center">
                            {{ "table.noContentToDisplay" | translate }}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div *ngIf="couSubjectLst.length > 0" class="col-xxl-12">
                <app-paginator [totalRecords]="totalSubject" (onPageChange)="getPaging($event)">
                </app-paginator>
              </div> -->
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!--end row-->
  <!-- </div> -->
  <!-- container-fluid -->
<!-- </div> -->
<!-- End Page-content -->
<!-- </div> -->

<p-confirmDialog >
</p-confirmDialog>
