<div
  class="  p-dialog-mask p-component-overlay p-dialog-mask-scrollblocker"
  ng-reflect-ng-class="[object Object]"
  style="z-index: 1100"
>
  <div
    class="ng-trigger ng-trigger-animation  p-dialog p-confirm-dialog p-component "
    ng-reflect-ng-class="[object Object]"
    pr_id_21=""
    style="z-index: 1101"
  >
    <!--bindings={}-->
    <div class="p-dialog-header  " style="">
      <span class="p-dialog-title  ">{{"progress.title.header" | translate}} </span>
      <div class="p-dialog-header-icons ">
        <button
          (click)="close('')"
          type="button"
          class=" p-dialog-header-icon p-dialog-header-close p-link "
          ng-reflect-ng-class="[object Object]">
          <span class="pi pi-times "></span></button>
      </div>
    </div>
    <div class="p-dialog-content ">

      <div class="col-lg-9" [style.width]="'100%'">
        <p-dropdown appendTo="body" placeholder='{{"progress.title.placeholder" | translate}}'
          [options]="listProgress" [(ngModel)]="progressType"
          optionLabel="label" optionValue="value" [ngModelOptions]="{ standalone: true }">
      </p-dropdown>
    </div>

    </div>
    <div class="p-dialog-footer  " style="">

  <button
        (click)="close('access')"
        type="button"
        pripple=""
        pbutton=""
        class="p-element p-ripple  p-confirm-dialog-accept p-button p-component "
        ng-reflect-icon="pi pi-check"
        ng-reflect-label="Xác nhận"
        ng-reflect-ng-class="p-confirm-dialog-accept"
      >
        <span
          class="p-button-icon p-button-icon-left pi pi-check"
          aria-hidden="true"
        ></span
        ><span class="p-button-label">{{"button.submit.title" | translate}}</span></button
      >
    </div>
  </div>
</div>
