<app-breadcrumb></app-breadcrumb>

<div class="edu-team-details-area section-gap-equal">
    <div class="container">
        <div class="row row--40">
            <div class="col-lg-4">
                <div class="team-details-thumb">
                    <div class="thumbnail">
                        <img src="{{teacher.img}}" alt="team">
                    </div>
                    <!-- <ul class="social-share"> -->
                        <!-- <li><a href="#"><i class="icon-share-alt"></i></a></li> -->
                        <!-- <li><a href="https://www.facebook.com/quangrnd"><i class="icon-facebook"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icon-twitter"></i></a></li> -->
                        <!-- <li><a href="#"><i class="icon-linkedin2"></i></a></li> -->
                    <!-- </ul> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="team-details-content">
                    <div class="main-info">
                        <span class="subtitle">{{"instructors.instructor" | translate}}</span>
                        <h3 class="title">{{teacher.name}}</h3>
                        <span class="designation">{{teacher.position}}</span>
                        <ul class="team-meta">
<!--                            <li><i class="icon-25"></i>20 Students</li>-->
                            <li>
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(720 Rating)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="bio-describe">
                        <h4 class="title">{{"instructors.aboutme" | translate}}</h4>
                        <p>{{teacher.shortDescription}}</p>
                        <p>{{teacher.description}}</p>
                    </div>
                    <div class="contact-info">
                        <h4 class="title">{{"instructors.contactme" | translate}}</h4>
                        <ul>
                            <li><span><i class="ri-map-pin-fill"></i> </span>{{teacher.address}}</li>
                            <li><span><i class="ri-mail-fill"></i></span><a href="mailto:{{teacher.email}}" target="_blank">{{teacher.email}}</a></li>
                            <li><span><i class="ri-phone-fill"></i></span><a href="tel:{{teacher.phone}}">{{teacher.phone}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================-->
<!--=        Courses Area Start         =-->
<!--=====================================-->
<div class="edu-course-area course-area-1 edu-section-gap bg-lighten01" hidden>
    <div class="container">
        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <h2 class="title">My Popular Courses</h2>
        </div>
        <div class="row g-5">
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-07.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>7 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">The Complete Camtasia Course for Content Creators</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /9 Rating)</span>
                            </div>
                            <div class="course-price">$49.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>15 Lessons</li>
                                <li><i class="icon-25"></i>31 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Advanced</span>
                            <h6 class="title">
                                <a href="course-details.html">The Complete Camtasia Course for Content Creators</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /9 Rating)</span>
                            </div>
                            <div class="course-price">$49.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>15 Lessons</li>
                                <li><i class="icon-25"></i>31 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-04.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>9 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Intermediate</span>
                            <h6 class="title">
                                <a href="#">Starting SEO as your Home Based Business</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(4.9 /7 Rating)</span>
                            </div>
                            <div class="course-price">$35.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>74 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Intermediate</span>
                            <h6 class="title">
                                <a href="course-details.html">Starting SEO as your Home Based Business</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(4.9 /7 Rating)</span>
                            </div>
                            <div class="course-price">$35.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>74 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-05.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>4 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">Building A Better World One Student At A Time</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">Building A Better World One Student At A Time</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-06.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>4 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">Java Programming Masterclass for Software Developers</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /18 Rating)</span>
                            </div>
                            <div class="course-price">$19.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>24 Lessons</li>
                                <li><i class="icon-25"></i>95 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">Java Programming Masterclass for Software Developers</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /18 Rating)</span>
                            </div>
                            <div class="course-price">$19.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>24 Lessons</li>
                                <li><i class="icon-25"></i>95 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-24.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>8 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">Angular & NodeJS - The MEAN Stack Guide [2021 Edition]</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">Angular & NodeJS - The MEAN Stack Guide [2021 Edition]</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-25.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>3 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">The Complete React Developer Course (Hooks and Redux)</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">The Complete React Developer Course (Hooks and Redux)</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-26.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>3 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">Build an app with ASPNET Core & Angular from Scratch Begainer</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">Build an app with ASPNET Core & Angular from Scratch Begainer</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="course-details.html">
                                <img src="assets/images/course/course-27.jpg" alt="Course Meta">
                            </a>
                            <div class="time-top">
                                <span class="duration"><i class="icon-61"></i>3 Weeks</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="#">Become a WordPress Developer: Unlocking Power with Code</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <button class="wishlist-btn"><i class="icon-22"></i></button>
                    </div>
                    <div class="course-hover-content">
                        <div class="content">
                            <button class="wishlist-btn"><i class="icon-22"></i></button>
                            <span class="course-level">Beginner</span>
                            <h6 class="title">
                                <a href="course-details.html">Become a WordPress Developer: Unlocking Power with Code</a>
                            </h6>
                            <div class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(5.0 /7 Rating)</span>
                            </div>
                            <div class="course-price">$29.00</div>
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
                            <ul class="course-meta">
                                <li><i class="icon-24"></i>8 Lessons</li>
                                <li><i class="icon-25"></i>20 Students</li>
                            </ul>
                            <a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
        </div>
    </div>
</div>
