<app-breadcrumb></app-breadcrumb>

<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-9">
                <!-- <div class="login-form-box registration-form">
                  <div>
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: aliceblue;">
                        Bước 1: Đăng ký tư vấn và xét tuyển
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="ps-5 pt-4"> Bạn có thể liên hệ AtwoM Việt Nam để nhận được tư vấn và đăng ký xét tuyển bằng một trong các cách sau:</div><br>
                        <div class="ps-5">– Đăng ký trực tiếp ngay <a href="javascript:void(0)" (click)="goToRegis()">tại đây</a></div><br>
                        <div class="ps-5">– Gọi đến số hotline: <a href="tel:+84 (0) 98 946 7958">+84 (0) 98 946 7958</a></div><br>
                        <div class="ps-5">– Inbox qua Facebook: <a href="https://www.facebook.com/a2mvn">https://www.facebook.com/a2mvn</a></div><br>
                        <div class="ps-5">– Gửi email đến: <a href="mailto:tuyensinh@atwom.edu.vn">tuyensinh@atwom.edu.vn</a></div><br>
                      </ng-template>
                    </mat-expansion-panel>
                  </div>

                  <div class="pt-5">
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: aliceblue;">
                        Bước 2: Nhận lịch hẹn xét tuyển
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="ps-5 pt-4"> Sau khi nhận được đăng ký xét tuyển và tư vấn cho bạn khoá học phù hợp, bộ phận Tuyển sinh của AtwoM Việt Nam sẽ liên hệ đặt lịch hẹn mời bạn đến tham dự phiên xét tuyển tại các cơ sở đào tạo của AtwoM Việt Nam.</div><br>

                      </ng-template>
                    </mat-expansion-panel>
                  </div>

                  <div class="pt-5">
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: aliceblue;">
                        Bước 3: Thi tuyển và phỏng vấn
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="ps-5 pt-4"> – Vòng làm bài thi đánh giá năng lực: Có 2 loại bài thi đánh giá năng lực dành riêng cho 2 đối tượng khác nhau. Bài thi đánh giá năng lực không chỉ là để làm căn cứ xét tuyển mà còn là để giáo viên giảng dạy có thêm thông tin về học viên để xếp lớp và hỗ trợ phù hợp trong quá trình học.
                          <ul>
                            <li>Bạn là người mới bắt đầu, chưa có nền tảng lập trình: Bạn cần trải qua 1 bài thi IQ/GMAT, bao gồm các câu hỏi toán học và tư duy cơ bản.</li>
                            <li>Bạn đã có nền tảng lập trình: Bạn cần trải qua 1 bài thi Lập trình căn bản bao gồm các nội dung như: câu lệnh điều kiện, câu lệnh lặp, hàm, các thuật toán đơn giản.</li>
                          </ul>
                        </div><br>
                        <div class="ps-5"> - Vòng phỏng vấn chuyên môn với các nội dung:
                          <ul>
                            <li>Khả năng tiếp thu, tư duy, khả năng giao tiếp của ứng viên.</li>
                            <li>Mong muốn của ứng viên với việc làm trong ngành IT, đánh giá động lực và khả năng theo đuổi quá trình học tập cường độ cao tại AtwoM Việt Nam.</li>
                            <li>Giải đáp các câu hỏi liên quan đến ngành nghề IT.</li>
                            <li>Giải đáp các câu hỏi liên quan đến chương trình đào tạo của AtwoM Việt Nam.</li>
                          </ul>
                        </div><br>
                        <div class="ps-5">Cả 2 vòng đều diễn ra cùng ngày bạn đến tham dự xét tuyển.</div>
                      </ng-template>
                    </mat-expansion-panel>
                  </div>

                  <div class="pt-5">
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: aliceblue;">
                        Bước 4: Nhận kết quả xét tuyển
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="ps-5 pt-4"> Sau khi hoàn thành bài xét tuyển, bộ phận Tuyển sinh sẽ thông báo với bạn kết quả xét tuyển và hướng dẫn bạn các thủ tục đăng ký nhập học nếu trúng tuyển.</div><br>
                      </ng-template>
                    </mat-expansion-panel>
                  </div>

                  <div class="pt-5">
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: aliceblue;">
                        Bước 5: Đăng ký nhập học và nộp học phí
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="ps-5 pt-4"> Bạn sẽ được mời đến các cơ sở đào tạo của AtwoM Việt Nam để nộp Đơn đăng ký nhập học và bắt đầu khóa học.</div><br>
                      </ng-template>
                    </mat-expansion-panel>
                  </div> -->



                  <div class="faq-accordion" id="faq-accordion">
                    <div class="accordion">
                      <div  class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + 'guid1'" aria-expanded="true">
                            Bước 1: Đăng ký tư vấn và xét tuyển
                          </button>
                        </h5>
                        <div id="{{'collapse' + 'guid1'}}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                          <div class="accordion-body">
                            <div class="ps-5 pt-4"> Bạn có thể liên hệ AtwoM Việt Nam để nhận được tư vấn và đăng ký xét tuyển bằng một trong các cách sau:</div><br>
                            <div class="ps-5">– Đăng ký trực tiếp ngay <a href="javascript:void(0)" (click)="goToRegis()">tại đây</a></div><br>
                            <div class="ps-5">– Gọi đến số hotline: <a href="tel:+84 (0) 98 946 7958">+84 (0) 98 946 7958</a></div><br>
                            <div class="ps-5">– Inbox qua Facebook: <a href="https://www.facebook.com/a2mvn">https://www.facebook.com/a2mvn</a></div><br>
                            <div class="ps-5">– Gửi email đến: <a href="mailto:tuyensinh@atwom.edu.vn">tuyensinh@atwom.edu.vn</a></div><br>
                          </div>
                        </div>
                      </div>

                      <div  class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + 'guid2'" aria-expanded="true">
                            Bước 2: Nhận lịch hẹn xét tuyển
                          </button>
                        </h5>
                        <div id="{{'collapse' + 'guid2'}}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                          <div class="accordion-body">
                            Sau khi nhận được đăng ký xét tuyển và tư vấn cho bạn khoá học phù hợp, bộ phận Tuyển sinh của AtwoM Việt Nam sẽ liên hệ đặt lịch hẹn mời bạn đến tham dự phiên xét tuyển tại các cơ sở đào tạo của AtwoM Việt Nam.
                          </div>
                        </div>
                      </div>

                      <div  class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + 'guid3'" aria-expanded="true">
                            Bước 3: Thi tuyển và phỏng vấn
                          </button>
                        </h5>
                        <div id="{{'collapse' + 'guid3'}}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                          <div class="accordion-body">
                            <div class="ps-5 pt-4"> – Vòng làm bài thi đánh giá năng lực: Có 2 loại bài thi đánh giá năng lực dành riêng cho 2 đối tượng khác nhau. Bài thi đánh giá năng lực không chỉ là để làm căn cứ xét tuyển mà còn là để giáo viên giảng dạy có thêm thông tin về học viên để xếp lớp và hỗ trợ phù hợp trong quá trình học.
                              <ul>
                                <li>Bạn là người mới bắt đầu, chưa có nền tảng lập trình: Bạn cần trải qua 1 bài thi IQ/GMAT, bao gồm các câu hỏi toán học và tư duy cơ bản.</li>
                                <li>Bạn đã có nền tảng lập trình: Bạn cần trải qua 1 bài thi Lập trình căn bản bao gồm các nội dung như: câu lệnh điều kiện, câu lệnh lặp, hàm, các thuật toán đơn giản.</li>
                              </ul>
                            </div><br>
                            <div class="ps-5"> - Vòng phỏng vấn chuyên môn với các nội dung:
                              <ul>
                                <li>Khả năng tiếp thu, tư duy, khả năng giao tiếp của ứng viên.</li>
                                <li>Mong muốn của ứng viên với việc làm trong ngành IT, đánh giá động lực và khả năng theo đuổi quá trình học tập cường độ cao tại AtwoM Việt Nam.</li>
                                <li>Giải đáp các câu hỏi liên quan đến ngành nghề IT.</li>
                                <li>Giải đáp các câu hỏi liên quan đến chương trình đào tạo của AtwoM Việt Nam.</li>
                              </ul>
                            </div><br>
                            <div class="ps-5">Cả 2 vòng đều diễn ra cùng ngày bạn đến tham dự xét tuyển.</div>
                          </div>
                        </div>
                      </div>

                      <div  class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + 'guid4'" aria-expanded="true">
                            Bước 4: Nhận kết quả xét tuyển
                          </button>
                        </h5>
                        <div id="{{'collapse' + 'guid4'}}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                          <div class="accordion-body">
                            Sau khi nhận được đăng ký xét tuyển và tư vấn cho bạn khoá học phù hợp, bộ phận Tuyển sinh của AtwoM Việt Nam sẽ liên hệ đặt lịch hẹn mời bạn đến tham dự phiên xét tuyển tại các cơ sở đào tạo của AtwoM Việt Nam.
                          </div>
                        </div>
                      </div>

                      <div  class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + 'guid5'" aria-expanded="true">
                            Bước 5: Đăng ký nhập học và nộp học phí
                          </button>
                        </h5>
                        <div id="{{'collapse' + 'guid5'}}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                          <div class="accordion-body">
                            Sau khi nhận được đăng ký xét tuyển và tư vấn cho bạn khoá học phù hợp, bộ phận Tuyển sinh của AtwoM Việt Nam sẽ liên hệ đặt lịch hẹn mời bạn đến tham dự phiên xét tuyển tại các cơ sở đào tạo của AtwoM Việt Nam.
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
            </div>
        </div>
</section>

